In [1]:
import pandas as pd
import numpy as np
import joblib

In [4]:
df = pd.read_csv('./names_dataset.csv',index_col='index')

In [5]:
df.head()

            name sex
index
0           Mary   F
1           Anna   F
2           Emma   F
3      Elizabeth   F
4         Minnie   F

In [3]:
df.head()

   index       name sex
0      0       Mary   F
1      1       Anna   F
2      2       Emma   F
3      3  Elizabeth   F
4      4     Minnie   F

In [10]:
vectorize = joblib.load('./vectorizer.pickle')
model= joblib.load('./dtree.pkl')

In [13]:
svd = joblib.load('/home/shaury/~scanta-google-drive/svd.pkl')

In [32]:
def predict(name):
    name_vec = vectorize.transform(name)
    name_svd = svd.transform(name_vec)
    return model.predict(name_svd)

## taking samples to test

In [21]:
df = df.sample(n=20000,random_state=101)

In [22]:
df['gender'] = df['sex'].map({"F":0,"M":1})

In [30]:
df['name'].values

array(['Shanaira', 'Kenyanna', 'Chirstian', ..., 'Ashantai', 'Zareia',
       'Mateen'], dtype=object)

In [33]:
pred = []
for names in df['name'].values:
    pred.append(predict([names])[0])

In [24]:
from sklearn.metrics import classification_report,confusion_matrix

In [34]:
print(classification_report(df['gender'].values,pred))

              precision    recall  f1-score   support

           0       0.64      0.96      0.77     12717
           1       0.49      0.07      0.13      7283

    accuracy                           0.63     20000
   macro avg       0.57      0.51      0.45     20000
weighted avg       0.59      0.63      0.53     20000

In [35]:
confusion_matrix(df['gender'].values,pred)

array([[12166,   551],
       [ 6758,   525]])